[Desktop Entry]
Name=Xara Extreme LX Vector Image Editor
Name[pl]=Edytor obrazów wektorowych Xara Extreme LX
Comment=Create and edit Xara images
Comment[pl]=Utwórz i modyfikuj rysunek wektorowy Xara
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Graphics;VectorGraphics;GTK;
FilePattern=XaraLX
Exec=XaraLX %F
TryExec=XaraLX
Terminal=false
StartupNotify=true
# vi: encoding=utf-8
